# Application settings
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NODE_ENV=development
DATABASE_URL=******localhost:5432/lhu_zbot?schema=public
REDIS_URL=redis://localhost:6379
ZALO_UPDATE_MODE=polling
APP_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef
